/* Normal web elements */
h1
{
    text-align: center;
    font-family: 'IBM Plex Serif', serif;
    font-size: 40px;
}

nav
{
    background-color: royalblue;
}

img
{
    object-fit: scale-down;
    text-align: center;
}

h2 
{
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 40px;
}

h4
{
    margin-left: 55px;
    font-weight: 900;
}

hr {
    border-color:darkgray;
}

body {
  background-color: white;
  color: black;
  font-family: 'Muli', sans-serif;
  font-size: larger;
}

/* Dark mode */
.dark-mode {
    background-color: rgba(0, 0, 0, 0.870);
    color: white;
}
.dark-mode-toggle {
    position: absolute;
    top: 1em;
    right: 3em;
    color: var(--foreground);
    background: transparent;
    cursor: pointer;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    text-align: left;
    font-size: smaller;
}
.dark-mode-navbar {
    background-color: dodgerblue;
}

/* Image */
figure img 
{
    margin-left: auto;
    width: 50%;
    border: 1px solid #777;
}
figcaption 
{
  text-align: center;
}

/* For image centering */
.center
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Make image go right */
.right
{
    float: right;
}

/* Gallery of images */
div.gallery
{
    border: 1px solid white;
    margin: 10px;
    margin-left: 50px;
    float: left;
    width: 400px;
    
}

.showhover:hover 
{
    border: 1px solid #777;
}

div.gallery img
{
    object-fit: fill;
    width:100%;
    height:301px;
    margin: auto;
}

div.img-caption
{
    text-align: center;
    padding: 10px;
}

/* For paragraphs */
.main_para
{
    text-align:left; 
    font-size:large;
    font-weight: bolder;
    margin-left: 55px;
    margin-top: 50px;
}
.sub_para
{
    text-align:left;
    font-size: large;
    margin-left: 55px;
    margin-right: 40px;
}